.auth
  form.auth__inner
    h2.auth__heading Choose your nickname
    .auth__input-wrap
      input.auth__input(id="login" name="login" placeholder="User name")
      label.auth__label(for="login") User name
    button.auth__btn Login
